* {
    box-sizing: border-box;
}

html, body {
    margin: 0;
    padding: 0;
    background-color: #e3e3e3;
}

.main {
    display: flex;
}

.channels {
    width: 20%;
}

.channels__list {
    display: inline-block;
    padding: 0;
    margin: 0;
}

.channels__list-item {
    margin: 30px;
    background-color: #fff;
    text-align: center;
    transition: all 0.5s ease;
    border-radius: 10px;
}

.channels__list-item img {
    width: 70%;
    padding-right: 15%;
}

.channels__list-item:hover,
.channels__list-item:focus {
    box-shadow: 0 0 40px rgba(0, 0, 0, 0.6);
    cursor: pointer;
}

.channels__list-item a {
    padding: 10px 20px;
    text-decoration: none;
    color: #000000;
    font-size: 20px;
}

h1 {
    margin-bottom: 0;
}

h2 {
    margin-bottom: 0;
    font-size: 1.5vw;
}

a {
    list-style-type: none;
    text-decoration: none;
    text-align: center;
}
.flowplayer {
    background-color: #e3e3e3;
}

.flowplayer .fp-color-play {
    fill: #fff;
}

.videogular-container {
    width: 100%;
    height: 310px;
    margin: auto;
    overflow: hidden;
}

@media (min-width: 1200px) {
    .videogular-container {
        width: 700px;
        height: 85vh;
    }

    .videogular-container.audio {
        width: 700px;
        height: 50px;
    }
}

@media (min-width: 992px) and (max-width: 1199px) {
    .videogular-container {
        width: 800px;
        height: 530px;
    }

    .videogular-container.audio {
        width: 800px;
        height: 50px;
    }
}

@media (min-width: 768px) and (max-width: 991px) {
    .videogular-container {
        width: 728px;
        height: 410px;
    }

    .videogular-container.audio {
        width: 728px;
        height: 50px;
    }
}


